.container{
    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
   
   
}
.row>button{
    width: 100px;
    height: 100px;
    font-size: larger;
   
}
